<!-- inherit from base.html -->
{% extends 'base.html' %}

<!-- insert content block -->
{% block body %}

<!-- ************ CAROUSEL ************ -->
<div id="carouselExampleRide" class="carousel slide" data-bs-ride="true">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src=https://res.cloudinary.com/dxsxg4nkp/image/upload/v1674006183/s4_pnfdae.jpg class="d-block w-100"
                alt="...">
        </div>
        <div class="carousel-item">
            <img src="https://res.cloudinary.com/dxsxg4nkp/image/upload/v1674006183/s1_w9pcma.jpg" class="d-block w-100"
                alt="...">
        </div>
        <div class="carousel-item">
            <img src=https://res.cloudinary.com/dxsxg4nkp/image/upload/v1674006183/s4_pnfdae.jpg class="d-block w-100"
                alt="...">
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleRide" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleRide" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>

<!-- ************ INTRO************ -->
{% for artist in artists %}
<div class="container pt-5">
    <h3>Welcome</h3>
    <p class="aboutArtist lead my-4">{{ artist.intro }}</p>
</div>

{% endfor %}

<!-- ************ ITEMS ************ -->
<div class="container pt-5">
    <div class="row row-cols-1 row-cols-lg-3">
        {% for artist in artists %}
        {% for item in artist.item %}
        {% if item.in_stock %}
        <div class="mb-4">
            <div class="card pt-4 px-4">
                <img class="card-img-top" src="{{ item.picture_path }}">
                <div class="card-body">

                    <p>{{item.name}}</p>
                    <p>${{item.price}}</p>
                    <p>{{item.description}}</p>
                    <p>Dimensions: {{ item.dimensions}}"</p>

                    <button type="button" id='{{ "buttonCart" + "_" + (item.item_id) | string }}'
                        class="itemCartButton customButton btn btn-light">{{
                    button_cart_label[item.item_id] }}</button>

                    <button type="button" id='{{ "buttonLike" + "_" + (item.item_id) | string }}'
                        class='itemLikeButton likeButtonCustom btn btn-light'> {{
                button_like_label[item.item_id] }}</button>

                </div>
            </div>
        </div>
        {% endif %}
        {% endfor %}
        {% endfor %}
    </div>
</div>

<!-- ************ ABOUT ME ************ -->
<section id="about-me">
    <div class="container pt-5">
        <h3>About me</h3>
        <br>
        <div class="row g-0">
            <div class="col-md-5">
                <img src="https://res.cloudinary.com/dxsxg4nkp/image/upload/v1677202595/Screenshot_2023-02-23_at_5.34.03_PM_amcsqr.png"
                    class="img-fluid rounded-start" alt="...">
            </div>
            <div class="col-md-7 d-flex align-items-center">
                <div class="card-body">
                    <!-- <h5 class="card-title">About me</h5> -->
                    {% for artist in artists %}
                    <p class="aboutArtist lead my-4">{{ artist.about }}</p>
                    <!-- <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p> -->
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</section>

<div class=" container pt-5">
    <h3>Contact Me</h3>
    <div class="row">
        <!-- ************ CONTACT FORM ************ -->
        <div class=" col-5 " id="contactContainer2 ">
            <div class="mt-4">
                <div class="card">
                    <div class="card-body2">
                        <form action='/profile' method="POST" class="row g-3">
                            <div class="col-md-6">
                                <label for="inputFname" class="form-label">First name *</label>
                                <input type="text" class="form-control" id="inputFname" name="fname" required
                                    minlength='1' maxlength='50'>
                            </div>
                            <div class="col-md-6">
                                <label for="inputLname" class="form-label">Last name *</label>
                                <input type="text" class="form-control" id="inputLname" name="lname" required
                                    minlength='1' maxlength='50'>
                            </div>
                            <div class="col-md-6">
                                <label for="inputPhone" class="form-label">Phone *</label>
                                <input type="text" class="form-control" id="inputPhone" placeholder="123-456-7890"
                                    name="phone" required minlength='1' maxlength='50'>
                            </div>
                            <div class="md-6">
                                <label for="email" class="form-label">Email * </label>
                                <input type="email" class="form-control" id="emaillog" placeholder="jsmith@example.com"
                                    name="email" required minlength='1' maxlength='50'>
                            </div>
                            <div class="md-6">
                                <label for="message" class="form-label">Message * </label>
                                <textarea class="form-control" placeholder="Write your message here"
                                    id="floatingTextarea2" style="height: 100px"></textarea>
                            </div>
                            <div class="md-6">
                                <button type="button" class="sendButton"> Send</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <!-- ************ SOCIAL MEDIA ************ -->
        <div class=" col-5 " id="contactContainer1 ">
            <div class="mt-4">
                <div class="card  pb-4">
                    <div class="card-body">
                        <!-- <img class=contactImage
                            src="https://res.cloudinary.com/dxsxg4nkp/image/upload/v1674006183/s4_pnfdae.jpg" alt=""> -->
                        <!-- <h5 class="card-title">Special title treatment</h5> -->
                        <p class="card-text">If you'd like to make an enquiry, please feel free to get in touch, and I
                            will respond as soon as possible.</p>
                        <p>If you prefer to contact me directly, send your Email to: shirinsmandalas@gmail.com</p>

                        <p>Follow me on: </p>
                        <a href="https://www.instagram.com/sargarmihaye_shirin/"><img
                                src="https://res.cloudinary.com/dxsxg4nkp/image/upload/v1677210706/noun-instagram-5210110_casjyz.png"
                                alt="Instagram" style="width:42px;height:42px;"></a>

                        <a href="https://www.pinterest.com/shirinsmandalas/"><img src="https://res.cloudinary.com/dxsxg4nkp/image/upload/v1677211243/noun-pin-2047156_tzxfiz.png
                                " Pinterest" style="width:42px;height:42px;"></a>

                        <div class='contactImageContainer'>
                            <img class=contactImage
                                src="https://res.cloudinary.com/dxsxg4nkp/image/upload/v1677211523/Screenshot_2023-02-23_at_8.05.14_PM_zdrtn6.png"
                                alt="">
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="/static/js/ajax.js"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>

{% endblock %}